<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
Add new class
<form action="#" th:action="@{'/addClass/'+${user.userId}+'/'+${groupId}}"  method="post">
    <div>Group Name <label th:text="${group.getGroupName()}"></label></div>
    <div>Teacher <label th:text="${user.getName()}+' '+ ${user.getSurname()}"></label></div>
    <div>
        <table>
            <tr th:each="student:${students}">
                <td th:text="${student.getName()}+' '+ ${student.getSurname()}"></td>
                <td><label>
                    <input  hidden th:value="${user.getUserId()}" name="userId">
                </label><a th:href="@{'/checkStudent/'+${user.getUserId()}+'/'+${group.getGroupId()} +'/'+${student.getUserId()}}"> Present </a></td>
        </table>
    <div>Classes covered <label th:text="${group.getClassesCovered().size()}"></label></div>
    <div><label> Task <input type="text" name="hometask"/></label></div>
    <button type="submit">Submit</button>
</form>
</body>
</html>

