<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
Edit your profile
<form action="#" th:action="@{/user/adminEdit}"  method="post">
    <div><label> Name <input type="text" th:value="${updUser.name}" name="username"/></label></div>
    <input type="hidden" th:value="${userId}" name="userId">
    <div><label> Password<input type="text" th:value="${updUser.getPassword()}" name="password"/></label></div>
    <div><label> Birthday<input type="text" th:value="${updUser.getBirthDay()}" name="birthday"/></label></div>
    <div><label> Balance<input type="text" th:value="${updUser.getBalance()}" name="balance"/></label></div>
    <button type="submit">Save</button>
</form>
</body>
</html>