<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
Groups
<form action="#" th:action="@{'/allGroups/'+${user.userId}}" method="post"></form>
<div>
<table border="thick">
    <tr th:each="group: ${groups}">
        <td th:text="${group.getGroupName()}"></td>
        <td th:text="${group.getLanguage()}"></td>
        <td th:text="${group.getLvl()}"></td>
        <td><a th:href="@{'/assignTeacher2Group/'+${userId}+'/'+${group.getGroupId()}}">  Assign Teacher</a></td>
        <td><a th:href="@{'/groupEdit/' + ${user.getUserId()}+'/'+${group.getGroupId()}}"> EDIT </a></td>
        <td><a th:href="@{'/disableGroup/' + ${user.getUserId()}+'/'+${group.getGroupId()}}"> Disable </a></td>
    </tr>
</table>
</div>
</body>
</html>