<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
All teachers
<form action="#" th:action="@{'/allTeachers/'+${user.userId}}" method="post"></form>
    <table border="thick">
        <tr th:each="teacher: ${teachers}">
            <td th:text="${teacher.getName()}"></td>
            <td th:text="${teacher.getSurname()}"></td>
            <td><a th:href="@{'/salary/'+${user.userId}+'/'+${teacher.getUserId()}}">Show salary</a></td>
        </tr>
    </table>
</form>
</body>
</html>