<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
Assign Teacher to Rates
<form action="#" th:action="@{'/assignTeacher2Rates/' + ${user.userId}}" method="post">
    <div>
        <table border="thick">
            <tr>
                <td><select name="teacherId"/>
                    <option th:each="teacher:${teachers}" th:value="${teacher.getUserId()}"
                            th:text="${teacher.getName()}+' '+ ${teacher.getSurname()}"/>
                    </select></td>
            <td><select name="language">
                <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
            </select></td></tr>
            </tr>
        </table>
    </div>
    <div><input type="submit"/></div>
</body>
</html>