<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
Add payment
<form action="#" th:action="@{'/newPayment/'+${user.userId}}" method="post">
    <input type="hidden" th:value="${user.getUserId()}" name="userId">
    <div><label> From </label>
        <select name="userFrom"/>
        <option th:each="student:${usersFrom}" th:value="${student.getUserId()}"
                th:text="${student.getName()}+' '+ ${student.getSurname()}"/>
        </select></div>
    <div>
        <label> To School </label>
        <label> Enter amount <input type="text" name="sum"/></label></div>
    <button type="submit">Submit</button>
</form>
</body>
</html>